Body { background-color: black;
padding-left: 30px;
padding-top: 15px;
padding-right: 30px;
}

h1 { color: white;
    font-size: 72px;
    font-weight: bold;

}

h2 { color: white;
  font-size: 32px;
  font-weight: light;


}

a { color: #F4BF2C;
  font-size: 42px;
  text-decoration: none;

}
a:hover { color: #F0C4A5;
  text-decoration: none;

}

hr { color: #F4BF2C;
  width: 3px;

}
