Body { background-color: black;
padding: 5px
}

h1 { color: white;
    font-size: 72px;
    font-weight: bold;

}

h2 { color: white;
  font-size: 42px;

}

a { color: #F4BF2C;
  font-size: 32px;
  text-decoration: none;
  border: 1px;
  border-color: #F4BF2C;

}
a:hover { color: #F0C4A5;
  text-decoration: none;
  bordr: 1px;
  border-color: #F0C4A5;

}
