Body { background-color: black;
padding-left: 30px;
padding-top: 15px;
padding-right: 30px;
font-family: 'Open Sans', Arial, sans-serif;
}

h1 { color: #F4BF2C;
    font-size: 72px;
    font-weight: bold;

}

h2 { color: white;
  font-size: 36px;

}

p{ color: White;
font-size:56px;
text-align: center;
}

a { color: #F4BF2C;
  font-size: 32px;
  text-decoration: none;

}

a:hover { color: #F0C4A5;
  text-decoration: none;

}

button {
  background-color: white;
  border: none;
  color:#F4BF2C;
  padding: 1em 2em 1em 2em;
}

.pinkhover button:hover {background-color:#F0C4A5
}

.bgimage {
  background-image:
  url(https://burkewald.github.io/gra-321/code-exercises/img/surfer.jpeg)
  background-size: cover;
  height:750px;
  margin: 0 auto;
  width:100%;
}

.imagetext {color: blue;
  font-size: 300px;
  text-align: center;
  position: relative;
  letter-spacing: 50px;
  }

.bgcyan @media screen and (max-width: 1000px) {
  body {
    background-color: Cyan;
}
}
}

.bgpurple @media screen and (max-width: 500px) {
  body {
    background-color: Purple;
}
}
