Body{
  background-color: #301F02;
  margin-left: 25.5px;
  margin-right: 25.5px
}

h1{
  font-family: Open Sans, sans-serif;
color: White;
font-size: 50px;
line-height: 68px;
text-align: center;
}

h2{
font-family: Open Sans, sans-serif;
color: White;
font-size: 40px;
line-height: 55px;
text-align: center;
}

h3{
  font-family: Open Sans, sans-serif;
color: White;
font-size: 30px;
line-height: 70px;
}

h4{
  font-family: Open Sans, sans-serif;
color: White;
font-size: 20px;
line-height: 45px;
text-align: left;
}

p{
font-family: Open Sans, sans-serif;
color: #BDBDBD;
font-size: 16px;
line-height: 20px;
text-align: Center;
}

Button{
  font-family: Open Sans, sans-serif;
  color: White;
  font-size: 30px;
  text-Align: Center;
  background-color: #C68D2E;
  border-radius: 70px;
  border-color: transparent;
  width:314px;
  height: 90px;
}

.left-align{
text-align: left;
}

.center-align{
  text-align: center;
}

.linespacing{
  Line-height:32px;
}
.seventypx{
  Line-height: 70px;
}
