Body{
  background-color: #301F02;
  font-family: 'Open Sans', sans-serif;
}

h1{
color: White;
font-size: 50px;
line-height: 68px;
text-align: center;
}

h2{
color: White;
font-size: 40px;
line-height: 55px;
text-align: center;
}

h3{
color: White;
font-size: 30px;
line-height: 70px;
}

h4{
color: White;
font-size: 20px;
line-height: 45px;
text-align: left;
}

p{
color: #BDBDBD;
font-size: 16px;
line-height: 20px;
text-align: Center;
}

h5{color: white;
font-size: 16px;
line-height:70px;
text-align: left;

}

h6{color: white;
font-size: 16px;
line-height:20px;
text-align: left;

}

.imagetext1 {color: white;
  font-size: 50px;
  text-align: center;
  position:relative;
  }

  .imagetext2 {color: white;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    position: relative;
  }


.carousel {
    position: absolute;
    margin-top: 79px;
    width:100%;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

/* FOR CLASSES .IMAGE-1, .IMAGE-2, AND .IMAGE-3, REPLACE THE BACKGROUND IMAGE URL WITH YOUR IMAGE URL. THIS SLIDER MUST HAVE 3 IMAGES TO FUNCTION PROPERLY */

.image-1 {
background-image: url("https://burkewald.github.io/gra-321/responsive-project/img/bannerone.png");
  background-size: cover;
  background-repeat: no-repeat;
 background-position: center center;
}

.image-2 {
background-image: url("https://burkewald.github.io/gra-321/responsive-project/img/bannertwo.png");
  background-size: cover;
  background-repeat: no-repeat;
 background-position: center center;
}

.image-3 {
background-image: url("https://burkewald.github.io/gra-321/responsive-project/img/bannerthree-02.png");
  background-size: cover;
  background-repeat: no-repeat;
 background-position: center center;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    height:325px;
}


.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
bottom:2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

/* New Slider CSS End */

a{
  color:White;
}
a:hover{
  text-decoration: none;
  color:#C68D2E;
}
Button{
  color: White;
  font-size: 30px;
  text-Align: Center;
  background-color: #C68D2E;
  border-radius: 70px;
  border-color: transparent;
  width:305px;
  height: 90px;
}

.left-align{
text-align: left;
}

.center-align{
text-align: center;
}

.linespacing{
  Line-height:32px;
}
.seventypx{
  Line-height: 70px;
}

ul {
  list-style-position: inside;
  padding-left: 0;
}


.column-block-two {
top:79px;
height: 325px;
position:absolute;
width:100%;


}

.banner-image{
top: 404px;
background-image: url("https://burkewald.github.io/gra-321/responsive-project/img/drinkspec.png");
background-size: cover;
background-position: center;
position:absolute;
width:100%;
height: 1174px;
}

.banner-image h2 {
  padding: 0px; /*adjust as needed*/
  background-color:rgba(100, 100, 100, 0.72);
  width:576px;
  margin: 0 auto;
}
.banner-image h3{
  padding:0px; /*adjust as needed*/
  background-color:rgba(100, 100, 100, 0.72);
  width:576px;
  margin: 0 auto;
}
.banner-image p{
  padding: 0px; /*adjust as needed*/
  background-color:rgba(100, 100, 100, 0.72);
  width:576px;
  margin: 0 auto;
}



.column-block-four {
top: 1578px;
height: 1958px;
position:absolute;
width:100%;
left: 25.5px;

}

.banner-image2{
top: 3536px;
background-image: url("https://burkewald.github.io/gra-321/responsive-project/img/sand.png");
background-size: cover;
background-position: center;
position:absolute;
width:100%;
height: 992px;
}

.banner-image2 h2 {
  padding:0; /*adjust as needed*/
  background-color:rgba(100, 100, 100, 0.72);
  width:576px;
  margin: 0 auto;
}
.banner-image2 h3{
  padding: 0; /*adjust as needed*/
  background-color:rgba(100, 100, 100, 0.72);
  width:576px;
  margin: 0 auto;
}
.banner-image2 p{
  padding:0; /*adjust as needed*/
  width:576px;
  margin: 0 auto;
}


.column-block-five {
top:50px;
height: 892px;
background-color:Black;
opacity: .72;
position:absolute;
width:576px;


}


.column-block-six {
top:4528px;
position:absolute;
width:100%;
left:25.5px;


}


.dropbtn {
  background-color:#C68D2E;
  position: fixed;
  right:25.5px;
  width: 29px;
  height: 3px;
  color: white;
  border: none;
}

.dropdown {
  position:fixed;
  display:inline-block;
  top:37px;
  right:25.5px;
  width:136px;
}

.dropdown-content {
  width:136px;
  display: none;
  position: fixed;
  background-color: black;
  z-index: 1;

}

.dropdown-content a {
  color: White;
  font-size: 22px;
  line-height: 30px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #C68D2E;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #C68D2E;}



.smlspacing{
  word-spacing: 20px;

}

.pricecolumnone{
 top:188px;
 position:absolute;

}

.pricecolumntwo{
 top:188px;
 position:absolute;
 left:47px;

}

.pricecolumnthree{
 top:188px;
 position:absolute;
 left:94px;

}

.pricecolumnfour{
 top:1333px;
 position:absolute;

}

.pricecolumnfive{
 top:1263px;
 position:absolute;
 left:47px;

}

.pricecolumnsix{
 top:1333px;
 position:absolute;
 left:94px;

}

.pricecolumnseven{
  top:1823px;
  position:absolute;
  left:94px;

}


.column-block-one {
  height: 79px;
  background-color: #301F02;
  padding-top: 13px;
  padding-left:25.5px;
  position: fixed;
  width:100%;


}


.dropdown2 {
  position: absolute;
  display: inline-block;
  padding:0 16px;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: Black;
  min-width: 160px;
  z-index: 1;
}

.dropdown2:hover .dropdown-content2 {
  display: block;
}
.dropdown3 {
  position: absolute;
  display: inline-block;
  padding:0 16px;
}

.dropdown-content3 {
  display: none;
  position: absolute;
  background-color: Black;
  min-width: 160px;
  z-index: 1;
}

.dropdown3:hover .dropdown-content3 {
  display: block;
}



.dropdown4 {
  position: absolute;
  display: inline-block;
  padding:0 16px;
}

.dropdown-content4 {
  display: none;
  position: absolute;
  background-color: Black;
  min-width: 160px;
  z-index: 1;
}

.dropdown4:hover .dropdown-content4 {
  display: block;
}


.dropdown5 {
  position: absolute;
  display: inline-block;
  padding:0 16px;
}

.dropdown-content5 {
  display: none;
  position: absolute;
  background-color: Black;
  min-width: 160px;
  z-index: 1;
}

.dropdown5:hover .dropdown-content5 {
  display: block;
}

.Nav-Bar{
  display: inline-block;
  font-size: 30px;
  position:absolute;
  right: 25.5px;
  justify-content: space-between;

}


@media only screen and (min-width: 500px) {

  .dropdown2{
    display: none;
  }
  .dropdown3{
    display: none;
  }
  .dropdown4{
    display: none;
  }
  .dropdown5{
    display: none;
  }
  .pricecolumnone{
   top:155px;
   position:absolute;
   left:493px;

  }

  .pricecolumntwo{
   top:155px;
   position:absolute;
   left:540px;

  }

  .pricecolumnthree{
   top:155px;
   position:absolute;
   left:587px;

  }

  .pricecolumnfour{
   top:1308px;
   position:absolute;
   left:493px;

  }

  .pricecolumnfive{
   top:1238px;
   position:absolute;
   left:540px;

  }

  .pricecolumnsix{
   top:1308px;
   position:absolute;
   left:587px;

  }

  .pricecolumnseven{
    top:1798px;
    position:absolute;
    left:587px;
}

@media only screen and (max-width: 600px){
  .Nav-Bar{
    display: none;
  }
}

@media only screen and (min-width: 600px){
  .dropdown{
    display: none;
  }
}
